@tailwind base;
@tailwind components;
@tailwind utilities;


.menu-item {
    transition: opacity 400ms ease;
}

.menu-items:hover > .menu-item {
    opacity: 0.3;
  }
  
.menu-items:hover > .menu-item:hover {
    opacity: 1;
  }