@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('animations.css');


html{
  background-color: #262525;
  font-family: "Ibarra Real Nova", serif;
  color: #ffffff;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* overflow: auto; */
}

.navLinks > li, a, button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}


header > nav {
  display: flex;  
  align-items: center;
  justify-content: center;
  /* margin: 0 auto; */
  gap: 3rem;
  background-color: #262525;
  /* padding-bottom: 50px; */
  flex-wrap: wrap;
  /* max-width: 1143px; */
}

.navLink {
  transition: 0.3s;
}

.navLink:hover{
  opacity: 1;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 30px 10%; */
  margin: 0 auto;
}

header > img {
  cursor: pointer;
}

.navLinks {
  list-style: none;
}

.navLinks li {
  display: inline-block;
  padding: 0px 20px;
}

.navLinks li a {
  transition: all 0.3s ease 0s;
}


.navLinks li a:hover {
  color: #0088a9;
}

button {
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: rgba(0, 136, 169, 0.8);
}



:root {
  --primary-color: #000000;
  --secondary-color: #ffffff;
  --accent-color: #b0acac;
}

.menu-items {
  z-index: 2;
}
.menu-item {
  transition: opacity 400ms ease;
}

.menu-items:hover > .menu-item {
  opacity: 0.3;
}

.menu-items:hover > .menu-item:hover {
  opacity: 1;
}

.menu-items:hover ~ .islamic-pattern {
  background-size: 100px 100px;
  background-position:
    -40px 60px,
    -60px 60px,
    -60px 40px,
    -40px 40px,
    -60px 40px,
    -40px 40px,
    -40px 60px,
    -60px 60px,
    0 0,
    0 0,
    0 0,
    0 0;
}

.menu-items:hover ~ .dotted-menu-background-pattern {
  background-size: 11vmin 11vmin;
  opacity: 0.5;
}

.dotted-menu-background-pattern {
  height: 100vh;
  width: 100vw;


  background-image: radial-gradient(
    rgba(255, 225, 225, 0.3) 9%,
    transparent 9%
  );
  background-position: 0% 0%;
  background-size: 12vmin 12vmin;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
  transition:
  opacity 800ms ease,
  background-size 800ms ease,
  background-position 800ms ease;
}

.islamic-pattern {
  opacity: 20%;
  background-color: var(--primary-color);
  background-image: linear-gradient(
      67.5deg,
      var(--primary-color) 10%,
      transparent 10%
    ),
    linear-gradient(157.5deg, var(--primary-color) 10%, transparent 10%),
    linear-gradient(67.5deg, transparent 90%, var(--primary-color) 90%),
    linear-gradient(157.5deg, transparent 90%, var(--primary-color) 90%),
    linear-gradient(22.5deg, var(--primary-color) 10%, transparent 10%),
    linear-gradient(112.5deg, var(--primary-color) 10%, transparent 10%),
    linear-gradient(22.5deg, transparent 90%, var(--primary-color) 90%),
    linear-gradient(112.5deg, transparent 90%, var(--primary-color) 90%),
    linear-gradient(
      22.5deg,
      transparent 33%,
      var(--secondary-color) 33%,
      var(--secondary-color) 36%,
      transparent 36%,
      transparent 64%,
      var(--secondary-color) 64%,
      var(--secondary-color) 67%,
      transparent 67%
    ),
    linear-gradient(
      -22.5deg,
      transparent 33%,
      var(--secondary-color) 33%,
      var(--secondary-color) 36%,
      transparent 36%,
      transparent 64%,
      var(--secondary-color) 64%,
      var(--secondary-color) 67%,
      transparent 67%
    ),
    linear-gradient(
      112.5deg,
      transparent 33%,
      var(--secondary-color) 33%,
      var(--secondary-color) 36%,
      transparent 36%,
      transparent 64%,
      var(--secondary-color) 64%,
      var(--secondary-color) 67%,
      transparent 67%
    ),
    linear-gradient(
      -112.5deg,
      transparent 33%,
      var(--secondary-color) 33%,
      var(--secondary-color) 36%,
      transparent 36%,
      transparent 64%,
      var(--secondary-color) 64%,
      var(--secondary-color) 67%,
      transparent 67%
    );
  background-size: 125px 125px;
  background-position:
    -50px 75px,
    -75px 75px,
    -75px 50px,
    -50px 50px,
    -75px 50px,
    -50px 50px,
    -50px 75px,
    -75px 75px,
    0 0,
    0 0,
    0 0,
    0 0;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
  transition:
    opacity 800ms ease,
    background-size 800ms ease,
    background-position 800ms ease;
}
